
:root {
    --cor1: #eacdc2; /* mais clara */
    --cor2: #b75d69; /* variante da mais clara */
    --cor3: #774c60; /* fixa */
    --cor4: #372549; /* variante da mais escura */
    --cor5: #1a1423; /* mais escura */
    --corText: #202020;
    --corBackgrond: #eeeeee;
}

 /* Inversão total */

:root.dark {
    --cor1: #1a1423; /* mais escura */
    --cor2: #372549; /* variante da mais escura */
    --cor3: #774c60; /* fixa */
    --cor4: #b75d69; /* variante da mais clara */
    --cor5: #eacdc2; /* mais clara */
    --corText: #dadada;
    --corBackgrond: #202020;
}

/* estilização */

body {
    background-color: var(--corBackgrond);
    color: var(--corText);
    font-size: 1.3em;
}

header {
    padding: 15px;
    background-color: var(--cor3);
}

h1 {
    color: #eacdc2;
    font-size: 2em;
}

h1, h2 {
    margin-left: 30px;
}

#BtnModoTela {
    width: 35px;
}

nav a{
    text-decoration: none;
    padding: 10px;
    margin: 5px;
    background-color: var(--cor4);
    color: var(--cor1);
}

main {
    display: flex;
    flex-direction: row;
}

h3{
    margin: 10px;
    font-size: 1.7em;
    color: var(--cor4);
}

h4{
    color: var(--cor5);
    font-size: 1.4em;
}

section {
    padding: 30px;
}

section.left {
    border-right: 1px solid var(--cor4);
}

input.btn {
    padding: 10px;
    background-color: var(--cor5);
    color: var(--cor1);
}

footer {
    background-color: var(--cor4);
    padding: 2px;
    margin: 20px 0px;
    border-top: 2px solid var(--cor1);
}

footer p {
    text-align: center;
    color: var(--cor1);
}

footer a {
    color: var(--cor1);
    text-decoration: none;
}

@media (max-width: 900px) {
    main {
    flex-direction: column;
    }
    section.left {
    border-right: 0px solid var(--cor4);
    }
}



